# Background

- Analyze the top streamed spotify songs in Singapore

# Import Libraries and Data

In [2]:
import pandas as pd
import lyricsgenius
import swifter
from tqdm import tqdm
tqdm.pandas()

In [7]:
df = pd.read_csv('../data/processed/top_sg_spotify_songs_2020.csv', index_col=[0])

In [8]:
df.shape

(4846, 6)

In [9]:
df.head()

,Artist and Title,Days,Total,artist,song,lyrics
0,Ed Sheeran - Shape of You,1368,25899658,Ed Sheeran,Shape of You,[Verse 1]\nThe club isn't the best place to fi...
1,James Arthur - Say You Won't Let Go,1474,23357304,James Arthur,Say You Won't Let Go,[Verse 1]\nI met you in the dark\nYou lit me u...
2,The Chainsmokers - Closer,1516,22281902,The Chainsmokers,Closer,"[Verse 1: Andrew Taggart]\nHey, I was doing ju..."
3,Ed Sheeran - Photograph,2128,21285275,Ed Sheeran,Photograph,"[Verse 1]\nLoving can hurt, loving can hurt so..."
4,Ed Sheeran - Perfect,1313,20660602,Ed Sheeran,Perfect,"[Verse 1]\nI found a love for me\nOh darling, ..."

# Preprocessing

In [11]:
df.isnull().sum()

Artist and Title      0
Days                  0
Total                 0
artist                0
song                  3
lyrics              177
dtype: int64

In [12]:
# remove songs without lyrics
df = df[~df['lyrics'].isnull()]

In [13]:
df.shape

(4669, 6)

# UDF

In [ ]:
def get_num_of_rhymes():
    return

In [ ]:
df_sg['num_of_rhymes'] = df_sg.apply(lambda x: get_num_of_rhymes(x))

# Exploratory Data Analysis