# Background

- Analyze the top streamed spotify songs in Singapore

# Import Libraries and Data

In [33]:
import pandas as pd
import lyricsgenius
import swifter

genius_token = 'Kmf4BpK5CCTxUSjp4n4PKmEX3pc-WCgAmEXzq63hn9nyJRGINvT-v6xrWZcWgBZq'
genius = lyricsgenius.Genius(genius_token)

In [3]:
df_sg = pd.read_html('https://kworb.net/spotify/country/sg_daily_totals.html')[0]

In [5]:
df_sg.shape

(4846, 8)

# Preprocessing

In [8]:
df_sg = df_sg[['Artist and Title', 'Days', 'Total']]

In [20]:
df_sg.loc[:,'artist'] = df_sg['Artist and Title'].apply(lambda x: x.split('-')[0].strip())
df_sg.loc[:,'song'] = df_sg['Artist and Title'].apply(lambda x: x.split('-')[1].strip())

In [21]:
df_sg.head()

,Artist and Title,Days,Total,artist,song
0,Ed Sheeran - Shape of You,1368,25899658,Ed Sheeran,Shape of You
1,James Arthur - Say You Won't Let Go,1474,23357304,James Arthur,Say You Won't Let Go
2,The Chainsmokers - Closer,1516,22281902,The Chainsmokers,Closer
3,Ed Sheeran - Photograph,2128,21285275,Ed Sheeran,Photograph
4,Ed Sheeran - Perfect,1313,20660602,Ed Sheeran,Perfect

In [37]:
df_sg.isnull().sum()

Artist and Title    0
Days                0
Total               0
artist              0
song                0
dtype: int64

In [38]:
def get_lyrics(song, artist):
    song_obj = genius.search_song(song, artist)
    try:
        output = song_obj.lyrics
    except AttributeError:
        output = ''
    return output

In [ ]:
df_sg['lyrics'] = df_sg.swifter.apply(lambda row: get_lyrics(row['song'], row['artist']), axis=1)

In [ ]:
def get_num_of_rhymes():
    return

In [ ]:
df_sg['num_of_rhymes'] = df_sg.apply(lambda x: get_num_of_rhymes(x))

# Exploratory Data Analysis